# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/
pythonenv*/

# IDE and Editor files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db
.env